<li>
	<a class="btn btn-danger" asp-controller="/home/index" asp-action="">SearchResult</a>
</li>
<li>
	<a class="btn btn-danger" asp-controller="Employee" asp-action="DynamicSQL">DynamicSQL</a>
</li>